# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
cm-env/
backend/cm-env/

# Node.js dependencies
node_modules/

# VSCode settings
.vscode/

# Environment variable files
.env
backend/.env

# OS-specific files
.DS_Store
Thumbs.db
